In [1]:
import pandas as pd
import geopandas as gpd

In [3]:
data = pd.read_csv("data/uf_qtd_e_notas_por_ano.csv")
data

,NU_ANO,SG_UF_PROVA,QUANTIDADE_PESSOAS,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,2019,AC,27427,450.998738,484.077340,502.189499,482.135192,542.539833
1,2019,AL,67407,458.818669,487.759454,504.505793,500.102375,564.068717
2,2019,AM,74579,450.916203,483.940851,501.455140,481.307848,518.399013
3,2019,AP,29874,450.211244,484.780699,497.838368,473.676521,539.403495
4,2019,BA,287399,464.864261,495.678100,510.714722,500.749083,564.202172
...,...,...,...,...,...,...,...,...
130,2023,RS,110735,508.906245,542.740507,538.337994,558.016042,639.819569
131,2023,SC,62700,510.607536,545.735842,537.514679,562.021463,642.224561
132,2023,SE,47189,485.294978,511.636634,505.445456,509.578898,636.247854
133,2023,SP,409480,515.632185,548.660375,542.821564,572.388449,645.107795
134,2023,TO,21612,479.928447,504.588520,501.271229,503.881200,603.617435

In [4]:
data.to_json("GeoJSON/uf_qtd_e_notas.json", orient="records")